$tag-color: rgba(0, 0, 0, 50%);

.tag-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
}

.tag {
    display: inline;
    padding: 2px;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    border: 1px solid $tag-color;
    color: $tag-color;
    border-radius: 2px;
}