$success-color: #52C41A;
$heading-color: black;

html, body {
    box-sizing: border-box;
    background-color: #EBEEF3;

    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;

    width: 100%;
    height: 80px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: white;
}

.header__title {
    margin: 0;
    margin-left: 20px;
    display: flex;
    /*align-items: center;*/
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $heading-color;
}

.header-button__sing-up {
    width: 110px;
    height: 50px;

    margin-right: 20px;

    background-color: white;

    border: 1px solid $success-color;
    border-radius: 5px;
    color: $success-color;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    cursor: pointer;
}

.header-button__sing-in {
    width: 110px;
    height: 50px;

    margin-right: 20px;

    background-color: white;

    border: none;
    color: $heading-color;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    cursor: pointer;
}

.header-button__sing-in:hover {

    border: 1px solid $heading-color;
    border-radius: 5px;
}

main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: flex-start;
}