$tag-color: rgba(0, 0, 0, 50%);
$text-color: rgba(0, 0, 0, 75%);
$author-name-color: rgba(0, 0, 0, 85%);

.article-card {
    max-width: min-content;
    min-width: 940px;
    min-height: 140px;

    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    background-color: white;
    box-shadow: 0 4px 12px 0 rgba($color: #000000, $alpha: 15%);

    &--large {
        height: min-content;
        // flex-wrap: wrap;
    }
}

.article-card__info {
    flex-grow: 1.1;
    max-width: 75%;
}

.article-card__header-info {
    padding-bottom: 5px;

    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.article-card__header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.article-card__title {
    margin: 0;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;

    word-break: break-all;
}

.article-card__likes-number {
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: black;
}

.article-card__like {
    padding-left: 10px;
}

.article-card__description {
    width: 100%;
    height: 100%;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $text-color;
    //overflow-wrap: break-word;
    word-break: break-all;
}

.article-card__text {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    max-width: 100%;
    height: 100%;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $text-color;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: anywhere !important;
    white-space: wrap !important;
}

.article-card__author-info {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10px;
}

.article-card__author-header {
    margin-right: 10px;
}

// .article-card__author-avatar {
//     width: 46px;
// }

.article-card__author-avatar {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-card__author-name {
    margin: 0;
    padding-right: 10px;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $author-name-color;
}

.article-card__author-date {
    margin: 0;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $tag-color;
}

.article-card__link {
    text-decoration: none;
}

.article-card__button {
    margin-left: 20px;
    width: 65px;
    height: 30px;

    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    border-radius: 5px;
    background-color: transparent;

    cursor: pointer;

    &--edit {
        color: #52C41A;
        border: 1px solid #52C41A;
        &:hover {
            border: 2px solid #52C41A;
        }
    }

    &--delete {
        color: #F5222D;
        border: 1px solid #F5222D;
        &:hover {
            border: 2px solid #F5222D;
        }
    }
}